{% extends "MmiMmitvBundle::layoutMmiMmitvBundle.html.twig" %}

{% block container %}
    {{ parent() }}

    <p>ceci est la page Gestion d'Utilisateur</p>

    <p><a href="{{ path('mmi_mmitv_adduser') }}">Formulaire d'ajout d'utilisateur</a></p>
    <p><a href="{{ path('user') }}">Tous les utilisateurs</a></p>

{% endblock %}